:root {
    --op-base-color: #3d4a58;
    --op-base-light: #bdcbd5;
    --op-base-background: #fafafa;

    --pf-global--main-color--100: #1e83c0;
    --pf-global--main-color--200: #0f5683;
    --pf-global--main-color--light-100: #60b0e2;
    --pf-global--main-color--dark-100: #007dca;

    --pf-global--base-light-color--100: #d0d5d9;
    --pf-global--base-light-color--200: #99a1a9;
    --pf-global--base-light-color--light-100: #495664;
    --pf-global--base-light-color--dark-100: #475261;
}

.pf-icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#app {
    min-height: 100vh;
}

.pf-c-page {
    height: 100%;
}